<section class="slice">     
    <div class="block">
        <div class="container">        
            <div class="row">            
                <div class="span10">               
                    <div class="clear-form mailing"> 


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <div class="form-heading">
                                <h3 class="header" style="font-size: 22px;margin-top: 5%"><strong>Sign Up</strong></h3>        
                                <p>Track your auto records oil changes,tune ups,Tire changes..! </p>
                                <hr class="dotted">                      
                            </div> 
                              <div class="span4">
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
   <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",:class=>"btn btn-large btn-purple btn-block" %>

  </div>
  </div>
<% end %>


         </div>
                </div>
            </div>
        </div>
    </div>
</section>

